.form {
    margin: 180px auto 0;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_wrapper {
    width: 100%;
}

.input_wrapper div {
    width: 100%;
}

.input_wrapper div div {
    width: unset;
}


.signup_wrapper{
    display: flex;
}
.link{
    color:#4c4cff;
    margin-left: 8px;
    text-decoration: none;
}