.ingredients {
  overflow: auto;
  height: 716px;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
}

.ingredients::-webkit-scrollbar-track {
  width: 8px;
  background: #2f2f37;
}

.ingredients::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
  box-sizing: border-box;
}

.ingredients__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.type {
  text-align: left;
}
