.constructor__list {
    display: grid;
    row-gap: 16px;
    overflow: scroll;
    height: 464px;
}
.constructor__list::-webkit-scrollbar {
    width: 8px;
}

.constructor__list::-webkit-scrollbar-track {
    width: 8px;
    background: #2F2F37;
}

.constructor__list::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;
    box-sizing: border-box;
}
