.constructor__list {
  display: grid;
  row-gap: 16px;
  overflow: auto;
  height: 464px;
  grid-template-rows: repeat(auto-fill, 80px);
  box-sizing: border-box;
  border: 1px solid transparent;
}
.constructor__list_hint{
  border: 1px solid lightgreen;
}
.constructor__list::-webkit-scrollbar {
  width: 8px;
}

.constructor__list::-webkit-scrollbar-track {
  width: 8px;
  background: #2f2f37;
}

.constructor__list::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
  box-sizing: border-box;
}
